<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.1">
    <servlet>
        <servlet-name>PasswordGeneratorServlet</servlet-name>
        <servlet-class>PasswordGeneratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PasswordGeneratorServlet</servlet-name>
        <url-pattern>/generatePassword</url-pattern>
    </servlet-mapping>
</web-app>
